# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
venv/
ENV/
env/
.venv/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually these files are written by a Python script from a Windows file system.
#  PyInstaller builds executable versions of Python apps, and these can be ignored.
*.manifest
*.spec

# Django stuff:
*.log

# Flask stuff:
instance/
.webassets-cache
*.sqlite3

# ENV files
.env
*.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Linux files
*.swp
